body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    margin: 20px;
}

.box1 {
    display: inline-block;
    width: 560px;
    /* Width of the iframe */
    height: 315px;
    /* Height of the iframe */
    margin: 0 auto;
    /* Center the iframe */
}

button{
    border:2px solid pink;
    border-radius: 26%;
    background-color: pink;
}